<launch>
  <arg name="name" default="whycon"/>
  <arg name="targets" default="1"/>
  <arg name="image_topic" default="/downward/image_mono/compressed"/>

  <node name="whycon" type="whycon" pkg="whycon" output="screen">
    <param name="targets" value="$(arg targets)"/>
    <param name="name" value="$(arg name)"/>
    <param name="outer_diameter" value="0.122"/>
    <param name="inner_diameter" value="0.050"/>
    <!--param name="max_refine" value="5"/-->
    <!--param name="max_attempts" value="5"/-->
    <param name="image_topic" value="$(arg image_topic)"/>
  </node>

</launch>
