<launch>

  <arg name="num_refine" default="4"/>
  <arg name="num_attempts" default="4"/>

  <group ns="camera">
    <node pkg="image_proc" type="image_proc" name="image_proc"/>
  </group>

  <node name="whycon1" type="whycon" pkg="whycon" output="screen">
    <param name="name" value="whycon"/>
    <param name="axis" value="test"/>
    <param name="targets" value="1"/>
    <param name="max_refine" value="$(arg num_refine)"/>
    <param name="max_attempts" value="$(arg num_refine)"/>
    <param name="outer_diameter" value="0.022"/>
    <param name="inner_diameter" value="0.006"/>
    <!--param name="yscale" value="1"/-->
    <!--param name="xscale" value="1"/-->
  </node>

  <node name="whycon2" type="whycon" pkg="whycon" output="screen">
    <param name="name" value="whycon"/>
    <param name="axis" value="test"/>
    <param name="targets" value="1"/>
    <param name="max_refine" value="$(arg num_refine)"/>
    <param name="max_attempts" value="$(arg num_refine)"/>
    <param name="outer_diameter" value="0.022"/>
    <param name="inner_diameter" value="0.009"/>
    <!--param name="yscale" value="1"/-->
    <!--param name="xscale" value="1"/-->
  </node>

  <node name="whycon3" type="whycon" pkg="whycon" output="screen">
    <param name="name" value="whycon"/>
    <param name="axis" value="test"/>
    <param name="targets" value="1"/>
    <param name="max_refine" value="$(arg num_refine)"/>
    <param name="max_attempts" value="$(arg num_refine)"/>
    <param name="outer_diameter" value="0.022"/>
    <param name="inner_diameter" value="0.012"/>
    <!--param name="yscale" value="1"/-->
    <!--param name="xscale" value="1"/-->
  </node>

  <node name="whycon4" type="whycon" pkg="whycon" output="screen">
    <param name="name" value="whycon"/>
    <param name="axis" value="test"/>
    <param name="targets" value="1"/>
    <param name="max_refine" value="$(arg num_refine)"/>
    <param name="max_attempts" value="$(arg num_refine)"/>
    <param name="outer_diameter" value="0.022"/>
    <param name="inner_diameter" value="0.015"/>
    <!--param name="yscale" value="1"/-->
    <!--param name="xscale" value="1"/-->
  </node>

  <node name="robot_pose_publisher" type="robot_pose_publisher" pkg="whycon" />

  <!-- publish a transform between your robot's base link and the target pose -->
  <!--node pkg="tf" type="static_transform_publisher" name="static_pose" args="0 0 0 0 0 0 1 target base_link 100"/-->

  <!--node name="transformer" type="transformer" pkg="whycon" output="screen"/-->

</launch>
